<mat-card>
  <mat-card-header class="mt-5 mb-4 mx-auto">
    <mat-card-title class="text-2xl font-bold">
      Actualiza tus Datos
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <form class="formgrid grid" [formGroup]="userForm">
      <mat-form-field appearance="outline" class="col-8 col-offset-2">
        <mat-label>Nombre Completo</mat-label>
        <input matInput type="text" placeholder="nick name" formControlName="full_name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-8 col-offset-2">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthdate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-8 col-offset-2">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput type="text" placeholder="new nick@name" formControlName="user_name">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider class="mt-4"/>
  <mat-card-actions class="flex justify-content-center my-2">
    <button mat-raised-button color="warn" (click)="onSetInfo()">
      Actualizar Datos
    </button>
  </mat-card-actions>
</mat-card>
